input {
  jdbc {
  clean_run => true
    jdbc_driver_library => "./mariadb-java-client-2.7.2.jar"
    jdbc_driver_class => "Java::org.mariadb.jdbc.Driver"
    jdbc_connection_string => "jdbc:mariadb://localhost:3306/Example"
    jdbc_user => "root"
    jdbc_password => "admin"
    schedule => "* * * * *"
    statement => "SELECT id, exampleText from Examples WHERE id > :sql_last_value"
    lowercase_column_names => false
    use_column_value => true
    tracking_column => "id"
  }
}

output {
  elasticsearch {
    hosts=>["localhost:9200"]
    index=>"exampleindex"
    template => "./logstash-example-template.json"
    template_name => "logstash-example-template"
    manage_template => true
    template_overwrite => true
  }
}
